// ------------------- 공통 style
$border-color: #e1e3e9;
$bg-color: #f7f7fa;

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: $bg-color;
  overflow: hidden;
}
button {
  outline: none;
  border: none;
  background: none;
  font-size: 14px;
}
// 공통 style -------------------
.header {
  display: flex;
  flex-direction: row;
  height: 60px;
  line-height: 60px;
  background: #0067ff;
  color: #ffffff;
  text-align: left;
  padding: 0 30px;

  .header_txt {
    font-style: normal;
    font-weight: 700;
  }
  .line {
    width: 1px;
    height: 14px;
    opacity: 0.4;
    background: #ffffff;
    margin: 23px 7px;
  }
  .header_tit {
    font-weight: 400;
    font-size: 14px;
  }
}
.section {
  height: 726px;
  margin: 40px 30px;
  border: 1px solid #e1e3e9;
  border-radius: 10px;
  background-color: #fff;
  .top_menu {
    display: flex;
    line-height: 60px;
    border-bottom: 1px solid $border-color;
    text-align: left;
    div {
      width: 202px;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding: 18px 0;
      border-right: 1px solid $border-color;
      color: #9da1a8;
    }
    .active {
      background-color: #f0f3ff;
      color: #0067ff;
    }
  }
}
//리뷰어 리스트
.user_list_box {
  border: 1px solid $border-color;
  margin: 20px 40px 39.5px 20px;
  ul {
    height: 525px;
    overflow: scroll;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    font-size: 14px;
    li {
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 2fr 3fr 1fr 1fr 1fr 2fr 10fr 2fr 2fr 3fr 2.5fr 3fr;
      line-height: 50px;
      &.top_line {
        position: sticky;
        top: 0;
        background: $bg-color;
        z-index: 999;
        color: #52565d;
      }
      &:hover {
        background-color: $bg-color;
      }
      div {
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        position: relative;
        .star_img {
          width: 18px;
          height: 17.14px;
          border: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url("../assets/images/star-regular.svg");
          background-size: cover;
        }
        &.select_start {
          background-image: url("../assets/images/star-solid.svg");
        }
        .btn_open_sns {
          width: 70px;
          line-height: 32px;
          color: #fff;
          font-size: 12px;
          background-color: #02c639;
          border-radius: 4px;
        }
        &.user_msg_wrap {
          overflow: hidden;
          padding: 8.5px 12.5px;
          .user_msg {
            text-align: left;
            padding: 0 25px 0 11.5px;
            border-radius: 5px;
            border: 1px solid $border-color;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 31px;
            position: relative;
            z-index: 99;
            &.show_msg {
              overflow: inherit;
              white-space: inherit;
              height: fit-content;
              &.msg_exists:after {
                transform: rotateX(180deg);
                transition: all ease 0.5s;
              }
            }
            &.msg_exists:after {
              content: "";
              display: inline-block;
              width: 10px;
              height: 10px;
              position: absolute;
              top: 10px;
              right: 10px;
              background-image: url("./images/ic_down.png");
              transition: all ease 0.5s;
            }
            &.mgs_null {
              color: #9da1a8;
            }
          }
        }
        .brand_count {
          color: #0067ff;
          &::after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-image: url("./images/ico_arrow_r.png");
            background-size: contain;
          }
        }
      }
    }
  }
}
// modal
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  white-space: pre-wrap;
  .section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
  }
  &.open_modal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
